<%- include('header')%>

  <section class="p-5">
    <div class="container py-4">
      <h2 class="mb-4"><%= title %></h2>
      <% if (collectionList.length > 0) { %>
        <ul class="list-group pt-4 pb-3 border-top border-bottom border-light rounded-0">
          <% collectionList.forEach(collection => { %>
            <li class="list-group-item bg-dark text-light mb-4 border-0">
              <h3 class="h4"><a class="link-warning" href="collection<%= collection.url %>"><%= collection.name %></a></h3>
              <p class="lead mb-1"><%= collection.numberOfItems %> items</p>
              <p class="mb-0"><%= collection.description %></p>
            </li>
          <% }) %>
        </ul>
      <% } else { %>
        <p class="lead">There are no Collections</p>
      <% } %>
    </div>
  </section>

<%- include('footer')%>
