<%- include('header')%>

  <section class="py-5 text-center text-sm-start bg-dark text-light">
    <div class="container">
      <div class="d-sm-flex align-items-center justify-content-between">
        <div>
          <h1>Dive into the wide world of <span class="title-nft text-primary">NFTs</span></h1>
          <p class="lead  my-4">NFT Inventory provides an easy entry into the NFT art space, showcasing some of the biggest collections from around the world!</p>
          <a href="/nfts" class="btn btn-primary btn-lg">Explore</a>
        </div>
        <img class="img-fluid w-50 d-none d-sm-block" src="images/museum.svg" alt="Browsing artwork at a museum">
      </div>
    </div>
  </section>

  <section class="p-5">
    <div class="container py-4 text-center">
      <h3 class="mb-4">At NFT Inventory, you'll find...</h3>
      <% if (error) { %>
        <p>Error getting inventory data</p>
      <% } else { %>
        <div class="d-md-flex justify-content-center align-items-center">
          <ul class="list-group-flush list-group py-2 border-top border-bottom border-light text-start">
            <li class="bg-dark text-light list-group-item lead border-0"><%= data.nftCount %> <a class="link-light" href="/nfts">NFTs</a></li>
            <li class="bg-dark text-light list-group-item lead border-0"><%= data.creatorCount %> <a class="link-light" href="/collections">Collections</a></li>
            <li class="bg-dark text-light list-group-item lead border-0 mb-1"><%= data.nftCollectionCount %> <a class="link-light" href="/creators">Creators</a></li>
          </ul>
        </div>
      <% } %>
    </div>
  </section>
<!-- 
  <section class="p-5">
    <form action="/" enctype="multipart/form-data" method="post">
      <div class="form-group">
        <input type="file" class="form-control-file" name="uploaded_file">
        <input type="text" class="form-control" placeholder="Number of speakers" name="nspeakers">
        <input type="submit" value="Get me the stats!" class="btn btn-default">            
      </div>
    </form>
  </section> -->
<%- include('footer')%>
