<%- include('header')%>
  <section class="pt-5">
    <div class="container">
      <h2 class="mb-4"><%= title %></h2>

      <form action="" method="post" <%= locals.update ? '' : 'enctype=multipart/form-data' %>  style="max-width: 30rem">
        <div class="form-group mb-4">
          <label for="name">Name</label>
          <input required type="text" class="form-control bg-dark text-light" id="name" name="name" placeholder="Enter NFT name" value="<%= locals.nft === undefined ? '' : locals.nft.name %>">
        </div>
        <div class="form-group mb-4">
          <label for="description">Description</label>
          <textarea required class="form-control bg-dark text-light" id="description" name="description" rows="3" ><%= locals.nft === undefined ? '' : locals.nft.description %></textarea>
        </div>
        <div class="form-group mb-4">
          <label for="currentPrice">Current price</label>
          <input required type="number" class="form-control bg-dark text-light" id="currentPrice" name="currentPrice" placeholder="Enter current price in ETH" value="<%= locals.nft === undefined ? '' : locals.nft.currentPrice %>">
        </div>

        <div class="form-group mb-4">
          <label for="creator">Select creator</label>
          <select name="creator" id="creator" class="form-select bg-dark text-light" placeholder='Select creator' required='true' >
            
            <% creators.sort(function (a, b) {
              let textA = a.name.toUpperCase(); 
              let textB = b.name.toUpperCase(); 
              return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;
            }) %> 
            <% creators.forEach(creator => { %>
              <% if (locals.nft) { %>
                <option 
                  value="<%= creator._id %>" 
                  <%= creator._id.toString() === locals.nft.creator._id.toString() ? 'selected' : '' %>
                ><%= creator.name %>
                </option>
              <% } else { %>
                <option value="<%= creator._id %>"><%= creator.name %></option>
              <% } %>
            <% }) %>
          </select>
        </div>

        <div class="form-group mb-4">
          <label for="nftCollection">Select collection</label>
          <select name="nftCollection" id="nftCollection" class="form-select bg-dark text-light" placeholder='Select collection' required='true' >
            <% collections.sort(function (a, b) {
              let textA = a.name.toUpperCase(); 
              let textB = b.name.toUpperCase(); 
              return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;
            }) %> 
            <% collections.forEach(collection => { %>
              <% if (locals.nft) { %>
                <option 
                  value="<%= collection._id %>" 
                  <%= collection._id.toString() === locals.nft.nftCollection._id.toString() ? 'selected' : '' %>
                ><%= collection.name %>
                </option>
              <% } else { %>
                <option value="<%= collection._id %>"><%= collection.name %></option>
              <% } %>
            <% }) %>
          </select>
        </div>

        <% if (locals.update) { %>
          <p class="small">Note: NFT image cannot be modified. Delete and add new NFT to change image.</p>
        <% } else { %>
          <div class="form-group d-flex flex-column mb-4">
            <label for="img">NFT image</label>
            <input required type="file" class="form-control-file" name="img" id="img">     
          </div>
        <% } %>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

      <% if (locals.errors) { %>
        <ul class="list-group mt-4">
          <% errors.forEach(error => { %>
            <li class="list-group-item bg-dark text-danger border-danger">! <%= error.msg %></li>
          <% }) %>
        </ul>
      <% } %>
    </div>
  </section>
<%- include('footer')%>